@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: #8abae3;
  --color-prymary-dark: #2f3652;
  --color-prymary-light: #daeef2;
  --color-secondary: #51567a;
  --color-secondary-dark: #1e0822;
  --color-secondary-light: #f1f1ba;
  --color-text: #a0b7c9;

  --breakpoint__mobile: 480px;
  --breakpoint__tablet: 768px;
  --breakpoint__desktop: 1280px;

  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1280px;
}

* {
  box-sizing: border-box;
}
/* Base */
body {
  color: var(--color-prymary-dark);
  background-color: var(--color-prymary-dark);
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  color: var(--color-text);
}

p {
  margin: 0 auto;
}
.hidden {
  position: absolute;
  left: -10000;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.adress-link {
  font-style: normal;
}
.section {
  padding: 16px 0px;
  margin: 0;
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 32px;
  }
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-title {
  color: var(--color-secondary-light);
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  width: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}
.section-title:hover {
  text-shadow: 0 0 20px var(--color-secondary);
}

/* link-section */

.link {
  color: var(--color-prymary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary);
  text-decoration: none;
  text-shadow: 0px 0px 20px var(--color-primary);
}
.header-link:hover {
  text-decoration: none;
}
.button {
  display: flex;
  padding: 16px 24px;
  border: 2px solid;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 2px;
  width: auto;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-prymary-light);
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    padding: 8px 16px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
  }
}

.button:hover {
  color: var(--color-secondary);
  background-color: transparent;
}

.btn-text {
  color: var(--color-prymary-light);
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/*HEADER*/
.header {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding-top: 16px;
  background: transparent;
  padding-bottom: 16px;
  z-index: 2;
  background-color: transparent;
}
.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.header__nav {
  padding: 0 24px;
  width: 100%;
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(3%);
}

.header_link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

/* BURGER MOBILE MENU */
.header__burger {
  position: absolute;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 48px;
  height: 48px;
  background-color: transparent;

  border: 1px solid var(--color-secondary);

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.header__burger:hover {
  background-color: var(--color-secondary);
}

.header__burger:hover .burger-line {
  box-shadow: 0 0 8px var(--color-secondary-light);
}
.burger-line {
  width: 32px;
  height: 1px;
  border: 1px solid var(--color-secondary-light);
  border-radius: 2px;
}
/*CHECKBOX*/
#menu__toggle {
  opacity: 0;
}
.menu__item {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-prymary-light);
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 24px;
  right: 48px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--color-prymary-dark);

  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
/*MAIN-MENU*/
.main_menu {
  height: 100%;
  /* background-image: url(../images/bg-editor2.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #151a26;
}

.lens-decor-section {
  display: flex;
  left: calc(100% - 95%);
  align-items: baseline;
  position: relative;
}
.lence-wrapper {
  display: flex;
  position: absolute;
  min-height: 100vh;
}
/* lence */
.lens-center {
  position: relative;
  width: 40vmin;
  height: 40vmin;
  border-radius: 100%;
  left: calc(15% - (40vmin / 2));
  top: calc(35% - (40vmin / 2));
  background: radial-gradient(
    closest-side circle at center,
    hsl(4 5% 100% / 100%) 0%,
    hsl(4 5% 100% / 100%) 15%,
    hsl(4 10% 70% / 70%) 30%,
    hsl(4 0% 50% / 30%) 55%,
    hsl(4 0% 10% / 5%) 75%,
    transparent 99%
  );
  filter: blur(4px);
}
.lens-center::before {
  content: '';
  display: block;
  width: 80vmin;
  height: 80vmin;
  left: calc((80vmin - 40vmin) / 2 * -1);
  top: calc((80vmin - 40vmin) / 2 * -1);
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(
    closest-side circle at center,
    hsl(4 15% 70% / 15%) 0%,
    transparent 100%
  );
}

.lens-center::after {
  content: '';
  display: block;
  width: 4vmin;
  height: 4vmin;
  left: 65%;
  bottom: 25%;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(
    closest-side circle at center,
    hsl(4 30% 70% / 60%) 0%,
    transparent 75%
  );
}

.circle-1 {
  width: calc(40vmin * 0.7);
  height: calc(40vmin * 0.7);
  left: 65%;
  top: 65%;
  border-radius: 100%;
  position: absolute;
  background: radial-gradient(
    closest-side circle at center,
    transparent 50%,
    hsl(4 10% 70% / 40%) 90%,
    transparent 100%
  );
  filter: blur(5px);
}

.circle-2 {
  width: calc(40vmin * 0.4);
  height: calc(40vmin * 0.4);
  left: 62%;
  top: 62%;
  border-radius: 100%;
  position: absolute;
  background: hsl(4 10% 60% / 40%);
  filter: blur(2px);
}

.horizontal-flare {
  position: absolute;
  height: 5vh;
}

.right-flare {
  left: 15%;
  width: calc(100vw - 35%);
  top: calc(35% - (5vh / 2));
  background: radial-gradient(
    ellipse at center left,
    hsl(4 20% 90% / 80%) 0%,
    hsl(4 10% 70% / 40%) 30%,
    transparent 75%
  );
  filter: opacity(50%);
}

.left-flare {
  left: 0;
  top: calc(35% - (5vh / 2));
  width: 35%;
  background: radial-gradient(
    ellipse at center right,
    hsl(4 20% 90% / 60%) 0%,
    hsl(calc(4 + 10) 10% 70% / 40%) 30%,
    transparent 75%
  );
  filter: opacity(40%);
}

.full-flare {
  background: radial-gradient(
    closest-side ellipse at 45% center,
    hsl(4 20% 90% / 80%) 0%,
    hsl(4 10% 70% / 30%) 30%,
    transparent 95%
  );
  left: 0%;
  width: 100%;
  top: 75vh;
  filter: blur(5px);
}

/*HERO SECTION*/
.hero-section {
  height: 80%;
  position: relative;
  background-image: linear-gradient(
      350deg,
      transparent 55%,
      rgba(21, 24, 37, 0.811) 70%
    ),
    linear-gradient(
      130deg,
      rgba(23, 28, 45, 0.596) 15%,
      transparent 44%,
      rgba(50, 60, 96, 0.676) 87%
    ),
    url(../images/240_F_907325009_YBuXi7hsGbfD3OrEVAwQdQ1uV517N30n.jpg);

  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section__container {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: calc(8%);
  align-items: stretch;
  @media screen and (min-width: 1200px) {
    padding: 40px 0;
    flex-direction: row;
    gap: calc(12%);
    justify-content: space-around;
  }
}
.hero-section__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  @media screen and (min-width: 1200px) {
    padding: 40px 0;
    gap: 32px;
    align-items: baseline;
    justify-content: space-around;
  }
}

.hero-section_main-title {
  font-size: 48px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  margin-bottom: 0;
  color: var(--color-secondary-light);

  @media screen and (min-width: 1200px) {
    font-size: 72px;
  }
}
.hero-section_typed-text {
  color: var(--color-prymary-light);
  font-weight: 300;
  font-size: 24px;
  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.typewriter-effect {
  display: flex;
  justify-content: center;
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

.hero-section__photo {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    background-color: rgba(202, 199, 238, 0.4);
    border-radius: 50%;
  }
}

.profile_img {
  border-radius: 50%;
}

.profile_img::after {
  position: absolute;

  content: ' ';
  width: 200px;
  height: 200px;
  background-color: rgb(23, 86, 86);
  color: #3d5095;
  border: 3px solid salmon;
}

/*SUMMERY SECTION*/
.summery-section {
  background-color: transparent;
}
.summery-section_text {
  font-size: 18px;
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}
/*SKILLS SECTION*/
.info-section {
  background-color: transparent;
}
.section-title {
  font-size: 32px;
  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}
.teh-skills_list,
.soft-skills_list {
  margin-bottom: 32px;
}
.teh-skills_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.teh-skills_item {
  padding: 8px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid var(--color-prymary-light);
  background-color: var(--color-primary);
  border-radius: 2px;
}
.small-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  color: var(--color-prymary-light);
  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}
.small-title:hover {
  text-shadow: 0px 0px 20px var(--color-prymary-light);
}
.soft-skills_text,
.teh-skills_text {
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-secondary-dark);
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}
.soft-skills_text {
  color: var(--color-text);
  font-weight: 200;
}
.teh-skills_text:hover {
  text-shadow: 0px 0px 20px var(--color-prymary-light);
}
.soft-skills_text:hover {
  text-shadow: 0px 0px 20px var(--color-primary);
}
.info-section__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    font-size: 24px;
    flex-direction: row;
  }
}

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  margin-bottom: 48px;
  @media screen and (min-width: 1200px) {
    font-size: 24px;
    margin-bottom: 72px;
  }
}
.general-skills_text {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}
.general-skills_text:hover {
  text-shadow: 0px 0px 15px #50779a;
}

.expirience-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--color-primary);
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.expirience-location {
  margin: 0;
}
.expirience-period,
.expirience-location {
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.expirience-item {
  margin-bottom: 18px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
  }
}
.expirience-section_ocupation {
  font-weight: 300;
}
.expiriens-education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
  }
}

.expirience_block,
.education_block {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-bottom: 60px;
  @media screen and (min-width: 800px) {
  }
}
.center-title {
  text-align: center;
}

.expirience-list-1,
.expirience-list-2,
.education-list-2,
.education-list-1 {
  max-width: 100%;
  @media screen and (min-width: 800px) {
  }
}

.education-title {
  margin-bottom: 20px;
}
/*PROJECT SECTION*/
.projects-section {
  background-color: transparent;
}

.delay-01 {
  animation-delay: 0.1s;
}
/*SWIPER*/

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}
.formats-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 342px;
  height: 200px;
  border-radius: 4px;

  padding: 24px;
  max-width: 350px;
  transition: 0.3s;

  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
}

.formats-card:hover {
  transform: scale(1.3);
  z-index: 4;
}
.format-section__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formats_title {
  position: absolute;
  top: 56%;
  padding-left: 16px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.formats_text {
  position: absolute;
  top: 60%;
  padding: 24px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-primary-light);
  gap: 8px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.pagination__button {
  width: 24px;
  height: 16px;
  padding: 0;

  background-color: var(--color-secondary);
  border-radius: 2px;
}
.pagination__button:hover {
  background-color: var(--color-primary);
  fill: var(--color-secondary);
}

.pagination__button:active {
  background-color: var(--color-prymary-light);
  fill: var(--color-prymary-light);
}
.formats-section__slider {
  display: flex;
  align-items: center;
  gap: 32px;
}

.swiper-container {
  overflow: hidden;
  padding-top: 60px;
  padding-left: 24px;
}

.swiper-slide {
  margin-bottom: 40px;
  flex-shrink: 0;
}

.swiper-slide:active {
  transform: scale(1.2);
  z-index: 2;
}

.formats-icon {
  fill: #daeef2;
  stroke: #daeef2;
}
.carousel-button {
  display: flex;
}

.swiper-wrapper {
  margin-bottom: 48px;
}
.carusel-button-my {
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
}
.carusel-button-my:active {
  border: var(--color-prymary-light);
}
.button-prew {
  border-right: 20px solid var(--color-secondary);
}
.button-prew:active {
  border-right: 20px solid var(--color-prymary-light);
}
.button-prew:hover {
  border-right: 20px solid var(--color-primary);
}
.button-next {
  border-left: 20px solid var(--color-secondary);
  transform: rotate(180deg);
}

.button-next:hover {
  border-left: 20px solid var(--color-primary);
}
/*VIDEO*/
.video-title {
  /* position: absolute; */
  top: 4px;
  left: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 36px;
  color: var(--color-primary);
  @media screen and (min-width: 1200px) {
    font-size: 24px;
    font-weight: 400;
  }
}
/* .formats-card:hover .video-title {
  color: var(--color-prymary-light);
  text-shadow: 0 0 20px var(--color-secondary-light);
} */

.swiper-slide:hover .video-title {
  color: var(--color-prymary-light);
  text-shadow: 0 0 20px var(--color-secondary-light);
}
.video-description {
  opacity: 0;
  line-height: 1.5;
  margin-top: -30px;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.swiper-slide:hover .video-description {
  opacity: 1;
  transform: translateY(80px);
}
.video-occupation-description {
  font-weight: 300;
}
/* .my-video {
  z-index: 1;
  width: 200px;
  height: 100px;
} */
/*CONTACT SECTION*/
.contacts-section {
  background-color: transparent;
  margin-bottom: 32px;
}
.contact-section_social-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.contact-info {
  margin-bottom: 48px;
}
.contacts-section__container {
  margin-bottom: 64px;
}
.contact-section_icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-text);
  border-radius: 2px;
}

.contact-section_icon:hover {
  background-color: var(--color-primary);
}
.social-icon-char {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  color: #151a26;
}

.insta-drow-01 {
  position: relative;
  width: 24px;
  height: 24px;
  border: 3px solid #131622;
  border-radius: 4px;
}

.insta-drow-02 {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid#131622;
  border-radius: 50%;
  top: 3px;
  right: 3px;
}
.insta-drow-03 {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #131622;
  border-radius: 50%;
  top: 1px;
  right: 1px;
}

/*FOOTER*/
.footer {
  height: 48px;
  background-color: var(--color-prymary-dark);
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 4%;

  font-size: 16px;
}
.text-secondary {
  color: var(--color-prymary-light);
}
.footer-police {
  text-align: start;
  color: var(--color-secondary);
}
