:root {
  --color-primary: #8abae3;
  --color-prymary-dark: #2f3652;
  --color-prymary-light: #daeef2;
  --color-secondary: #51567a;
  --color-secondary-dark: #1e0822;
  --color-secondary-light: #f1f1ba;
  --color-text: #a0b7c9;

  --breakpoint__mobile: 480px;
  --breakpoint__tablet: 768px;
  --breakpoint__desktop: 1280px;

  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1280px;
}