
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    @media screen and (min-width: 1200px) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }