/* BURGER MOBILE MENU */
.header__burger {
  position: absolute;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 48px;
  height: 48px;
  background-color: transparent;

  border: 1px solid var(--color-secondary);

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.header__burger:hover {
  background-color: var(--color-secondary);
}

.header__burger:hover .burger-line {
  box-shadow: 0 0 8px var(--color-secondary-light);
}
.burger-line {
  width: 32px;
  height: 1px;
  border: 1px solid var(--color-secondary-light);
  border-radius: 2px;
}
/*CHECKBOX*/
#menu__toggle {
  opacity: 0;
}
.menu__item {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-prymary-light);
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 24px;
  right: 48px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--color-prymary-dark);

  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
