.info-section {
  background-color: transparent;
}
.section-title {
  font-size: 32px;
  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}
.teh-skills_list,
.soft-skills_list {
  margin-bottom: 32px;
}
.teh-skills_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.teh-skills_item {
  padding: 8px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid var(--color-prymary-light);
  background-color: var(--color-primary);
  border-radius: 2px;
}

.soft-skills_text,
.teh-skills_text {
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-secondary-dark);
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}
.soft-skills_text {
  color: var(--color-text);
  font-weight: 200;
}
.teh-skills_text:hover {
  text-shadow: 0px 0px 20px var(--color-prymary-light);
}
.soft-skills_text:hover {
  text-shadow: 0px 0px 20px var(--color-primary);
}
.info-section__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    font-size: 24px;
    flex-direction: row;
  }
}

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  margin-bottom: 48px;
  @media screen and (min-width: 1200px) {
    font-size: 24px;
    margin-bottom: 72px;
  }
}
.general-skills_text {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}
.general-skills_text:hover {
  text-shadow: 0px 0px 15px #50779a;
}

.expirience-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--color-primary);
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.expirience-location {
  margin: 0;
}
.expirience-period,
.expirience-location {
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.expirience-item {
  margin-bottom: 18px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
  }
}
.expirience-section_ocupation {
  font-weight: 300;
}
.expiriens-education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
  }
}

.expirience_block,
.education_block {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-bottom: 60px;
  @media screen and (min-width: 800px) {
  }
}
.center-title {
  text-align: center;
}

.expirience-list-1,
.expirience-list-2,
.education-list-2,
.education-list-1 {
  max-width: 100%;
  @media screen and (min-width: 800px) {
  }
}

.education-title {
  margin-bottom: 20px;
}
